<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://use.fontawesome.com/3a150c6beb.js"></script>
        <link rel="stylesheet" href="./css/main.css" />
        <link rel="stylesheet" href="./css/style.css" />
    </head>

    <body>
        <!--Navigation Bar-->
        <div class="navbar">
            <div class="wp">
                <img src="img/logo.PNG" alt="" />
                <i class="fa fa-whatsapp" aria-hidden="true"> Call now: 8873-732-500</i>
            </div>

            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#doc">Fertility Doctors</a></li>
                <li><a href="#serv">Our Services</a></li>
                <li><a href="#knowledge">Knowledge Center</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-4 col-md-offset-4 form-card">
            <div>
                <p>Profile Detail</p>
            </div>
            <div>
                <center>
                    <table class="table table-hover text-center">
                        <tr>
                            <td>Name</td>
                            <td><%= name %></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><%= email %></td>
                        </tr>
                    </table>
                </center>
            </div>
            <div class="abc" id="LangTable">
                <a href="/logout">Logout</a>
            </div>
        </div>
    </body>
</html>
