<html lang="en">
    <head>
        <title>Infertility Traeatment IVF IUI</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./css/main.css" />
        <script src="https://use.fontawesome.com/3a150c6beb.js"></script>
    </head>
    <body>
        <!--Navigation Bar-->
        <div class="navbar">
            <div class="wp">
                <img src="img/logo.PNG" alt="" />
                <i class="fa fa-whatsapp" aria-hidden="true"> Call now: 8873-732-500</i>
            </div>

            <ul>
                <li><a class="active" href="#home">Home</a></li>
                <li><a href="#doc">Fertility Doctors</a></li>
                <li><a href="#serv">Our Services</a></li>
                <li><a href="#knowledge">Knowledge Center</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>

        <!--SideNavBar-->
        <div id="mySidenav" class="sidenav">
            <a href="/login" id="login">Login</a>
            <a href="/reg" id="reg">SignUp</a>
        </div>

        <div class="main">
            <!--Heading-->
            <div class="header">
                <h1>Find fertility treatment best suited to you</h1>
                <p style="color: red; font-weight: lighter; font-size: 25;">IUI . IVF . ICSI . Medication</p>
            </div>

            <!--Form-->
            <div class="box">
                <h2>Start your treatment journey</h2>
            </div>

            <!--Fertility Treatments-->
            <h2>Fertility Treatments</h2>
            <div class="row">
                <div class="column">
                    <div class="card"><img src="img/ivf.webp" alt="ivf" /></div>
                    <p>IVF</p>
                </div>
                <div class="column">
                    <div class="card"><img src="img/iui.webp" alt="iui" /></div>
                    <p>IUI</p>
                </div>
                <div class="column">
                    <div class="card"><img src="img/icsi.webp" alt="icsi" /></div>
                    <p>ICSI</p>
                </div>
                <div class="column">
                    <div class="card"><img src="img/donor.webp" alt="donor" /></div>
                    <p>Donor Sperm Donor Egg</p>
                </div>
                <div class="column">
                    <div class="card"><img src="img/surrogacy.webp" alt="surrogacy" /></div>
                    <p>Surrogacy</p>
                </div>
            </div>

            <!--Services-->
            <h2>Our Services</h2>
            <p style="text-align: center; font-size: 20;">We will assist you to find the right treatment to turn your dream into reality</p>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="img/serv1.PNG" alt="step1" />
                        <p>Doctor Consultation</p>
                        <q>
                            Consult with a fertility doctor <br />
                            for a telephonic or face-to-face <br />
                            consultation
                        </q>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="img/serv2.PNG" alt="step2" />
                        <p>Fertility Companion</p>
                        <q>
                            Talk to our care manager who <br />
                            will help you find answers to <br />
                            your questions
                        </q>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="img/serv3.PNG" alt="step3" />
                        <p>Second Opinion Report</p>
                        <q>
                            Get written advice from best <br />
                            doctors before or during your <br />
                            treatment
                        </q>
                    </div>
                </div>
            </div>

            <!--Ferility World-->
            <h2>Ferility World</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="img/success_rate.webp" alt="ivf" />
                        <p>Success Rate</p>
                        <i>
                            In India, average take-home <br />
                            baby rates in IVF is 30-35% vs <br />
                            global success rate of 40%. This <br />
                            rate can higher or lower based <br />
                            on certain factors.
                        </i>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="img/infertility_causes.webp" alt="ivf" />
                        <p>Infertility Causes</p>
                        <i>
                            Age, PCOD, lifestyle factors <br />
                            (alcohol, tobacco consumption) <br />
                            are leading causes. Both men <br />
                            and women can be responsible <br />
                            for fertility issues.
                        </i>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="img/doctors.webp" alt="ivf" />
                        <p>Doctors</p>
                        <i>
                            Consult with highly experienced <br />
                            doctors specialized in infertility <br />
                            treatment. <br />
                            <br />
                        </i>
                    </div>
                </div>
            </div>

            <!--Working-->
            <h2>How Ferticare Works</h2>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="img/step1.PNG" alt="step1" />
                        <p>Step 1</p>
                        <q>
                            Call Ferticare or submit <br />
                            your number regarding <br />
                            your fertility problem
                        </q>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="img/step2.PNG" alt="step2" />
                        <p>Step 2</p>
                        <q>
                            Ferticare will resolve your <br />
                            doubts and fix an <br />
                            appointment with a doctor
                        </q>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <img src="img/step3.PNG" alt="step3" />
                        <p>Step 3</p>
                        <i>
                            Help you in choosing the <br />
                            right treatment option as <br />
                            per your budget
                        </i>
                    </div>
                </div>
            </div>

            <!--Contact-->
            <h2>CONTACT US</h2>
            <div class="c-box">
                <div class="parent flex-parent">
                    <div class="child flex-child">
                        <br />
                        <i style="font-size: 18;">Opeing Hours</i>
                        <p style="font-size: 14; color: red;">Monday - Sunday: 9:00am – 9:00pm</p>
                        <br />
                        <i style="font-size: 18;">Reach out to us:</i><br />
                        <br />
                        <p style="color: red; font-size: 14;">
                            Tel: 8955-088-217 <br />
                            <br />
                            Email: info@ferticare.in <br />
                            <br />
                            We revert within 24 Hours.
                        </p>
                    </div>
                    <div class="child flex-child">
                        <h3 style="color: darkslateblue; font-weight: bold; font-size: 20;">Question? Drop us a note:</h3>
                        <form action="">
                            <input type="phone number" placeholder="Phone number" /><br />
                            <br />
                            <label for="concern"></label>
                            <select name="concern" style="max-width: 90%;">
                                <option value="" selected disabled hidden>Select your concern</option>
                                <option value="concieve_long">Trying to conceive from long</option>
                                <option value="unsuccessful">Had unsuccessful IUI/IVF cycle</option>
                                <option value="male_infertility">Poor Sperm Quality or Male Infertility</option>
                                <option value="consult_doc">Want to consult good fertility Doctor</option>
                                <option value="pcod">PCOD</option>
                                <option value="other">Other</option>
                            </select>
                            <br />
                            <br />
                            <textarea id="user_details" name="user_details" placeholder="More Detail" style="height: 170px; width: 100%;"></textarea>
                            <br />
                            <br />
                            <input type="submit" value="Submit" />
                        </form>
                    </div>
                </div>
            </div>

            <!--Reviews-->
            <h2>Patient Reviews</h2>
            <div class="testimonial-slider">
                <ul class="slider">
                    <li>
                        <div class="testimonial-slider-content">
                            <q>The doctor was wonderful, at least gave us lots of hope and something to look forward to, we were really feeling defeated</q>
                            <p class="source">
                                Female, 31 years <br />
                                Had 7 failed procedures
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-slider-content">
                            <q>I was worried about my chances due to age. The doctor suggested a generic path but after talking to Ferticare, chose a practical approach.</q>
                            <p class="source">Female, 33 years</p>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-slider-content">
                            <q>Thank you for connecting with the doctor. He was not forcing for IVF and rather thinking about patient's body.</q>
                            <p class="source">
                                Female, 32 years <br />
                                Had 4 failed procedures
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial-slider-content">
                            <q>Aapne etni transparency se bataya hai, mujhe ye pata hai ki I'm going to the right place</q>
                            <p class="source">Male, 41 Years</p>
                        </div>
                    </li>
                </ul>
            </div>

            <!--Footer-->
            <div class="footer">
                <p>All Rights Reserved by © <a href="#">Jayesh</a></p>
            </div>
        </div>
    </body>
</html>
